@import "./partials/variables";
@import "./mixins/mixins";
@import "./partials/base";
@import "./partials/buttons";
@import "./partials/header";
@import "./partials/card";
@import "./partials/cart";

.page {
  &-left {
    @media screen and (min-width: 992px) {
      margin-right: 350px;
    }
    transition: all 0.3s ease-in-out;
    background: $light-grey;
  }
  &-right {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: $white;
    border: 1px solid transparentize($color: $grey, $amount: 0.8);
    border-top: 0;
    width: 350px;
    padding: 0 10px 0;
    z-index: 4;
    right: -350px;
    @media screen and (min-width: 992px) {
      right: 0;
    }
  }
}

// forms
select {
  height: 50px;
  line-height: 50px;
  border: none;
  background-color: transparent;
  padding-right: 1rem;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

// layouts
.filter {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid transparentize($color: $grey, $amount: 0.8);
    margin-bottom: 2rem;
  }
}

// sidebar-states
.sidebar-open {
  .page {
    &-left {
      @media screen and (min-width: 767px) {
        margin-right: 350px;
      }
    }
    &-right {
      right: 0;
      @media screen and (max-width: 767px) {
        top: 46px;
      }
    }
  }
  .header {
    @media screen and (min-width: 767px) {
      margin-right: 350px;
    }
  }
}
