@import "./partials/variables";
@import "./mixins/mixins";
@import "./partials/base";

$white: #ffffff;
$black: #333333;
$grey: #777777;
$blue: #4fa8dd;

$primary-color: $blue;

.page {
  &-left {
    margin-right: 350px;
  }
  &-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid transparentize($color: $grey, $amount: 0.8);
    width: 350px;
    padding: 0 10px 20px;
  }
}

// robot card
.card {
  &-body {
    background-color: $grey;
  }
  &-title {
    font-size: 1.3rem;
    line-height: 1.2;
    color: $white;
  }
  &-mid {
    background-color: $black;
    color: $white;
  }
  figure {
    position: relative;
    text-align: right;
    margin-bottom: 0;
    span {
      position: absolute;
      left: 1rem;
    }
  }
  b {
    &.material {
      top: 1rem;
      position: absolute;
      left: 1rem;
      top: 1rem;
      background-color: $blue;
      color: $white;
      padding: 2px 10px;
      border-radius: 3px;
    }
    &.price {
      bottom: 1rem;
    }
  }
  .date {
    color: $white;
  }
  .btn {
    width: 100%;
  }
}

// forms
select {
  height: 50px;
  line-height: 50px;
  border: none;
  background-color: transparent;
  padding-right: 1rem;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

// layouts
.filter {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid transparentize($color: $grey, $amount: 0.8);
    margin-bottom: 2rem;
  }
}

// cart
.cart {
  &-header {
    text-align: center;
    background-color: $blue;
    color: $white;
    padding-bottom: 3px;
    margin-bottom: 1rem;
    margin-left: -10px;
    margin-right: -10px;
    &-title {
      font-size: 1.5rem;
      margin-bottom: 0;
      font-weight: 500;
    }
  }
  &-left {
    width: 80px;
    margin-right: 1rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &-name {
    font-weight: 500;
  }
  &-control {
    display: flex;
    button {
      background-color: transparent;
      border: 1px solid $grey;
      border-radius: 3px;
      width: 3 0px;
    }
  }
  &-times {
    margin: 0 10px;
  }
  &-item {
    padding: 10px 0;
    border-bottom: 1px solid transparentize($color: $grey, $amount: 0.8);
    align-items: center;
    &:last-child {
      border-bottom: 0px solid red;
    }
  }
  &-right {
    flex-grow: 1;
  }
}
.final {
  background-color: darken($color: $blue, $amount: 20);
  color: $white;
  padding: 1rem;
  margin-left: -10px;
  margin-right: -10px;
  b {
    margin-right: 10px;
  }
  span {
    b {
      margin-right: 3px;
    }
  }
}
